* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

html,
body {
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

#content {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;

  display: flex;
  flex-direction: column;
}

#content>* {
  flex: 1;
}

#headerContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 0 1 100px;
  background-color: red;
}

#mainContainer {
  background-color: blue;
  flex: 2;
}

#footerContainer {
  background-color: pink;
}

#navbarContainer {
  flex: 1;
  background-color: black;
  display: flex;
  justify-content: center;
}

.navbar {
  flex: 1;
  display: flex;
  flex-direction: column;

}


.navbar>* {
  flex: 1;
}

.left-side {

  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.logoTitle {
  height: 100%;
  font-size: clamp(36px, 1rem, 60vw);
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

}

#toggle {
  padding: 15px 25px;
}




.not-active {
  display: none;
}


.is_active {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 20px;
}

.is-active .liElement-1 {
  flex: 1;
}

.is-active .userLink {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
  width: 100%;
  text-align: center;
  border-top: 2px solid white;
}

.is-active .userLink:hover {
  background-color: red;
}

/* 
@media(hover:hover) and (pointer: fine) {
  .userLink:hover {
    background-color: red;
  }
} */